@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), system-ui, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-main-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 85%;
  }

  .text-service-subtitle {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
  }

  .text-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
  }

  .text-ornament-number {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }

  .text-modal-service {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: -0.03em;
  }

  .text-modal-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
  }

  .text-modal-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  .text-modal-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .text-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
}
